<nav class="w-full flex py-6 justify-center items-center navbar bg-yellow">
    <a href="#">
        <img src="../../assets/logo.svg" alt="logo" class="w-24">
    </a>
    <ul class="flex gap-8 ">
        <li><a href="#introduce" class="hover:text-blue-500 text-xl">Introduce</a></li>
        <li><a href="#book" class="hover:text-blue-500 text-xl">Book</a></li>
        <li><a href="#guide" class="hover:text-blue-500 text-xl">Guide</a></li>
        <li><a href="#contact" class="hover:text-blue-500 text-xl">Contact</a></li>
    </ul>
</nav>