<nav class="w-full flex py-6 justify-center items-center navbar bg-yellow">
    <a href="#">
        <img src="../../assets/logo.svg" alt="logo" class="w-24">
    </a>
    <ul class="flex gap-8 ">
        <li><a href="#Home" class="hover:text-blue-500 text-xl">Home</a></li>
        <li><a href="#menu" class="hover:text-blue-500 text-xl">Menu</a></li>
        <li><a href="#Reserve" class="hover:text-blue-500 text-xl">Reserve</a></li>
        <li><a href="#Introduction" class="hover:text-blue-500 text-xl">Introduction</a></li>
        <li><a href="#Contact" class="hover:text-blue-500 text-xl">Contact</a></li>
    </ul>
</nav>